#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/*

   &mmv_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

   &msc_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

 */

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp QMARK>;
        };

        td1: td1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD1";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp DQT>;
        };

        td2: td2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD2";
            #binding-cells = <0>;
            bindings = <&kp SEMI>, <&kp COLON>;
        };

        td4: td4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD4";
            #binding-cells = <0>;
            bindings = <&mt LALT LGUI>, <&kp LGUI>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    macros {
        pw_macro: pw_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(Z) &kp X &kp W &kp E &kp N5 &kp N6 &kp N3 &kp N4 &kp EXCL>;
            label = "PW_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESCAPE     &kp Q  &kp W  &kp E          &kp R  &kp T                              &kp UP                &kp Y            &kp U  &kp I          &kp O    &kp P  &kp BSPC
&mt LCTRL TAB  &kp A  &kp S  &kp D          &kp F  &kp G                    &kp LEFT  &kp ENTER  &kp RIGHT  &kp H            &kp J  &kp K          &kp L    &td2   &td1
&kp LSHFT      &kp Z  &kp X  &kp C          &kp V  &kp B      &kp C_MUTE              &kp DOWN              &kp N            &kp M  &kp COMMA      &kp DOT  &td0   &mt RIGHT_SHIFT ENTER
                             &mt LALT LGUI  &mo 1  &kp SPACE                                                &kp RIGHT_SHIFT  &mo 2  &kp LG(RIGHT)
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&kp F2    &kp N1     &kp N2         &kp N3     &kp N4     &kp N5                                       &mmv MOVE_UP                     &kp N6    &kp N7     &kp N8  &kp N9     &kp N0             &trans
&kp TAB   &kp LC(A)  &kp LS(LG(S))  &kp DEL    &kp LC(F)  &kp HOME                     &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LEFT  &kp DOWN   &kp UP  &kp RIGHT  &kp C_VOLUME_UP    &kp PRINTSCREEN
&kp CAPS  &kp LC(Z)  &kp LC(X)      &kp LC(C)  &kp LC(V)  &kp END   &rgb_ug RGB_TOG                    &mmv MOVE_DOWN                   &trans    &pw_macro  &trans  &kp LG(L)  &kp C_VOLUME_DOWN  &kp C_MUTE
                                    &kp LGUI   &trans     &trans                                                                        &trans    &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&kp GRAVE  &kp EXCL      &kp AT        &kp HASH   &kp DLLR   &kp PRCNT                            &mmv MOVE_UP                     &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR       &kp BSPC
&trans     &bt BT_CLR    &mkp LCLK     &mkp MCLK  &mkp RCLK  &mkp MB4             &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp GRAVE      &kp PIPE
&trans     &out OUT_USB  &out OUT_BLE  &none      &none      &mkp MB5   &trans                    &mmv MOVE_DOWN                   &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp BACKSLASH  &kp TILDE
                                       &trans     &trans     &trans                                                                &trans     &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            display-name = "Fn";
            bindings = <
&studio_unlock  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                                      &mmv MOVE_UP                     &kp F6  &kp F7     &kp F8     &kp F9      &kp F10          &kp F11
&bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &trans  &mkp LCLK  &mkp MCLK  &mkp RCLK   &kp PRINTSCREEN  &kp F12
&trans          &trans        &trans        &trans        &sys_reset    &bootloader   &kp C_MUTE                    &mmv MOVE_DOWN                   &trans  &trans     &trans     &sys_reset  &kp SCROLLLOCK   &kp PAUSE_BREAK
                                            &trans        &trans        &trans                                                                       &trans  &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        ////////////////////
        // Mac mode
        ////////////////////
    
        mac_mode_layer {
            display-name = "MAC";
            bindings = <
&kp ESCAPE     &kp Q  &kp W  &kp E          &kp R  &kp T                              &kp UP                &kp Y            &kp U  &kp I          &kp O    &kp P  &kp BSPC
&mt LCTRL TAB  &kp A  &kp S  &kp D          &kp F  &kp G                    &kp LEFT  &kp ENTER  &kp RIGHT  &kp H            &kp J  &kp K          &kp L    &td2   &td1
&kp LSHFT      &kp Z  &kp X  &kp C          &kp V  &kp B      &kp C_MUTE              &kp DOWN              &kp N            &kp M  &kp COMMA      &kp DOT  &td0   &mt RIGHT_SHIFT ENTER
                             &mt LALT LGUI  &mo 5  &kp SPACE                                                &kp RIGHT_SHIFT  &mo 6  &kp LG(RIGHT)
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

       mac_lower_layer {
            display-name = "MAC_NU";
            bindings = <
&kp F2    &kp N1     &kp N2         &kp N3     &kp N4     &kp N5                                       &mmv MOVE_UP                     &kp N6    &kp N7     &kp N8  &kp N9     &kp N0             &trans
&kp TAB   &kp LC(A)  &kp LS(LG(S))  &kp DEL    &kp LC(F)  &kp HOME                     &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LEFT  &kp DOWN   &kp UP  &kp RIGHT  &kp C_VOLUME_UP    &kp PRINTSCREEN
&kp CAPS  &kp LC(Z)  &kp LC(X)      &kp LC(C)  &kp LC(V)  &kp END   &rgb_ug RGB_TOG                    &mmv MOVE_DOWN                   &trans    &pw_macro  &trans  &kp LG(L)  &kp C_VOLUME_DOWN  &kp C_MUTE
                                    &kp LGUI   &trans     &trans                                                                        &trans    &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        mac_raise_layer {
            display-name = "MAC_SY";
            bindings = <
&kp GRAVE  &kp EXCL      &kp AT        &kp HASH   &kp DLLR   &kp PRCNT                            &mmv MOVE_UP                     &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR       &kp BSPC
&trans     &bt BT_CLR    &mkp LCLK     &mkp MCLK  &mkp RCLK  &mkp MB4             &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp GRAVE      &kp PIPE
&trans     &out OUT_USB  &out OUT_BLE  &none      &none      &mkp MB5   &trans                    &mmv MOVE_DOWN                   &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp BACKSLASH  &kp TILDE
                                       &trans     &trans     &trans                                                                &trans     &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        mac_fn_3 {
            display-name = "MAC_Fn";
            bindings = <
&studio_unlock  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                                      &mmv MOVE_UP                     &kp F6  &kp F7     &kp F8     &kp F9      &kp F10          &kp F11
&bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &trans  &mkp LCLK  &mkp MCLK  &mkp RCLK   &kp PRINTSCREEN  &kp F12
&trans          &trans        &trans        &trans        &sys_reset    &bootloader   &kp C_MUTE                    &mmv MOVE_DOWN                   &trans  &trans     &trans     &sys_reset  &kp SCROLLLOCK   &kp PAUSE_BREAK
                                            &trans        &trans        &trans                                                                       &trans  &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
